.Variable{
    color:aqua;
}

.NumeroEntero{
    color:rgb(15, 107, 107);
}

.NumeroReal{
    color:rgb(123, 255, 0);
}

.Keyword{
    color:rgb(255, 0, 132);
}

.DosPuntos{
    color:rgb(70, 135, 94);
}

.Suma{
    color:rgb(229, 174, 255);
}

.Resta{
    color:rgb(174, 0, 255);
}

.Punto{
    color:rgb(71, 23, 243);
}


.Coma{
    color:rgb(120, 93, 71);
}


.PuntoyComa{
    color:rgb(233, 114, 183);
}


.Multiplicacion{
    color:rgb(255, 4, 4);
}


.Division{
    color:rgb(245, 239, 153);
}


.Potencia{
    color:rgb(98, 98, 98);
}


.Funcion{
    color:rgb(255, 235, 55);
}

.Comentario{
    color:rgb(117, 156, 105);
}

.Igual{
    color:rgb(0, 0, 0);
}


.Mayor{
    color:rgb(146, 140, 61);
}


.Menor{
    color:rgb(43, 27, 138);
}


.Mayorigual{
    color:rgb(255, 142, 142);
}


.Menorigual{
    color:rgb(117, 109, 136);
}


.ComparacionIgual{
    color:rgb(88, 190, 97);
}

.Exclamacion{
    color:rgb(153, 0, 150);
}


.Diferente{
    color:rgb(148, 132, 207);
}


.ParentesisAbre{
    color: rgb(0, 132, 255);
}

.ParentesisCierra{
    color:rgb(255, 153, 0);
}


.VariableCircle{
    background:aqua;
}

.NumeroEnteroCircle{
    background:rgb(15, 107, 107);
}

.NumeroRealCircle{
    background:rgb(123, 255, 0);
}

.KeywordCircle{
    background:rgb(255, 0, 132);
}

.DosPuntosCircle{
    background:rgb(70, 135, 94);
}

.SumaCircle{
    background:rgb(229, 174, 255);
}

.RestaCircle{
    background:rgb(174, 0, 255);
}

.PuntoCircle{
    background:rgb(71, 23, 243);
}


.ComaCircle{
    background:rgb(120, 93, 71);
}


.PuntoyComaCircle{
    background:rgb(233, 114, 183);
}


.MultiplicacionCircle{
    background:rgb(255, 4, 4);
}


.DivisionCircle{
    background:rgb(245, 239, 153);
}


.PotenciaCircle{
    background:rgb(98, 98, 98);
}


.FuncionCircle{
    background:rgb(255, 235, 55);
}

.ComentarioCircle{
    background:rgb(117, 156, 105);
}

.IgualCircle{
    background:rgb(0, 0, 0);
}


.MayorCircle{
    background-color:rgb(146, 140, 61);
}


.MenorCircle{
    background:rgb(43, 27, 138);
}


.MayorigualCircle{
    background:rgb(255, 142, 142);
}


.MenorigualCircle{
    background-color:rgb(117, 109, 136);
}


.ComparacionIgualCircle{
    background:rgb(88, 190, 97);
}

.ExclamacionCircle{
    background:rgb(153, 0, 150);
}


.DiferenteCircle{
    background:rgb(148, 132, 207);
}


.ParentesisAbreCircle{
    background:rgb(0, 132, 255);
}

.ParentesisCierraCircle{
    background:rgb(255, 153, 0);
}
.grid-container {
    display: grid;
    column-gap: 20px;
    grid-template-columns: auto auto auto auto;
    background-color: rgba(255, 255, 255, 0.8);
    
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 120px;
    margin-right: 120px;
  }
  
.grid-item {
/*background-color: rgba(255, 255, 255, 0.8);*/
padding: 20px;
font-size: 20px;
text-align: center;
}

body{
    background-color: black;
    padding: 40px;
    margin-top: 20px;
    margin-left: 120px;
    margin-right: 120px;
}

.circle{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

h1{
    text-align: center;
    color: white;
}

.grid-container-token{
    display: grid;
    column-gap: 20px;
    grid-template-columns: auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 180px;
    margin-right: 180px;
    font-weight: bold;
  }

.grid-item-token{
padding: 20px;
font-size: 20px;
}